*{
    margin : 0;
    padding : 0;
}
a{
    text-decoration: none;
    color:white
}
body{
    background-color: rgb(24 22 58);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}


.navbar ul{
    list-style-type: none;
    display : flex;
}

.navbar li{
    margin : 0px 2vh;
}

.navbar ul :hover{
    color:purple;
    text-decoration: solid;
    border-bottom: 2px solid purple;
}
.navbar{
    display : flex;

    align-items: center;
    justify-content: space-around;
    
    position: fixed;
    top : 0;
    width : 100%;
    background-color:rgb(48, 44, 118);
    color: white;
    height : 35px;

}

.home, .card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > div{
    min-height: 50vh;
    
    border-radius: 5px;

    padding : 40px 5px;

}

.home{
    font-size: 1.4rem;
    color: #a8a4df;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.home div{
    width:50%;
}

.text-purple{
    color: purple;
}

.about{
    display: flex;
    justify-content: space-around;
    align-items : center;
    flex-direction: column;
}
.content{
    display: flex;
    justify-content: space-around;
    align-items : center;
}

.content .photo{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content p{
    font-size: 14px;
}

.about .title{
    font-size: 2.2rem;
}
.about .details{
    width: 50%;
}
.details .resume{
    border: 3px solid white;
    padding: 7px;
    position: absolute;
    margin: 12px 0px;
}
.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 125px !important;
    justify-content: center;
}
.skills img{
    height: 130px;
}

.card{
    height: 185px;
    width: 185px;
    border-radius: 10px;
    background-color: #fff;
    margin: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

footer{
    width: 100%;
    min-height: 100px;
    background-color: beige;
}

footer .sections{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.second ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second img{
    width : 30px
}

.projects, .about {
    color:#fff;
}

.mail{
    margin : 10px 0px;
}
.text-pink{
    color: #c96868;
}
.projects{
    display: flex;
   align-items: center;
    flex-direction: column;
}

.text-wheat{
    color: wheat;
}
/* @media screen and (min-width: 640px) {
    .navbar{
        display:flex;
        flex-direction:column
        
    }
     ul{
        display:flex;
        flex-direction:column
    }
} */
